---
layout: default
title: About Me
---

My name is Kristjan Greenewald; I am an artificial intelligence research scientist at the <a href= "https://mitibmwatsonailab.mit.edu/"> MIT-IBM Watson AI Lab </a> in Cambridge Massachusetts, a joint lab between IBM Research AI and MIT. 




<section>
<h1> Contact </h1>

<p> Email: kristjan "dot" h "dot" greenewald "at" ibm "dot" com

<p> Address:
<ul style="list-style-type:none">
  <li> MIT-IBM Watson AI Lab</li>
  <li> IBM Research</li>
  <li> 314 Main St</li>
  <li> Cambridge MA </li>
</ul>
</p>
</section>

<section>
  <h1> Research Interests </h1>
  I develop theoretically sound approaches to problems in machine learning, with the goal of making AI more trustworthy and robust. Recent directions include problems in large language model alignment, scaling up causal inference, and leveraging optimal transport in machine learning.
  
  <p> Keywords: Large language models, uncertainty quantification, language model alignment/RL, optimal transport, causal inference, information theory, statistical learning theory, signal processing, contextual bandits, time-varying models, high dimensional data, estimation theory.
</section>

<section>
  <h1> Bio </h1>
  
  Kristjan Greenewald is a Research Staff Member and PI at the MIT-IBM Watson AI Lab (IBM Research). Dr. Greenewald received his PhD in Signal Processing at the University of Michigan in 2017, and was a postdoctoral research fellow at the Harvard University Statistics department prior to joining IBM Research.

  At IBM Research, he has focused on fundamental AI research collaborating with MIT as part of the MIT-IBM Watson AI Lab, serving as principal investigator for many multi-year research grants with MIT, and producing numerous publications in top AI conferences and journals. Recent areas include robust RLHF and evaluation of LLM alignment with theoretical guarantees, uncertainty quantification for LLMs, differential privacy for synthetic data generation, and agentic
workflows for democratizing causal inference tools.




</section>





<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
  </div>
  {% endfor %}
</div> -->

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

