---
layout: default
title: About Me
---

My name is Kristjan Greenewald; I work in the areas of applied and theoretical statistics, and more recently on various machine learning and data science problems.

I am a postdoctoral researcher in the
  <a href= "http://www.lsa.umich.edu/stats"> Department of Statistics
    at the University of Michigan </a>.  

<section>
<h1> Contact </h1>

<p> Email: greenewk "at" umich "dot" edu

<ul style="list-style-type:none">
  <li> Mailing address:</li>
  <li> University of Michigan</li>
  <li> Department of Statistics</li>
  <li> 311 West Hall</li>
  <li> 1085 South University Avenue </li>
  <li> Ann Arbor MI 48109 </li>
</ul>
</p>
</section>

<section>
  <h1> Research Interests </h1>
  My research interests are in developing and analysing methods for
  joint modeling of longitudinal and time-to-event data.  I have also
  worked on mathematical statistics problems related to notions
  of exchangeability for survival processes as well as network
  modeling.  More recently, I have begun work on just-in-time
  adaptive interventions with applications in mHealth.
</section>

<section>
  <h1> Bio </h1>


  
  I am currently a postdoctoral researcher at the Department of Statistics at University of Michigan, starting in January 2017.
  I received my PhD in Electrical Engineering (Signal Processing) at the University of Michigan in January 2017, advised by Alfred Hero III and Shuheng Zhou. 
  My B.S. (magna cum laude) and M.S. degrees in Electrical Engineering were received from Wright State University in 2011 and 2012 respectively. 
  I have had research internships at the US Air Force Research Laboratory (2011, 2012, 2013, 2014) and at M.I.T. Lincoln Laboratory (2015). 
  

</section>



<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
  </div>
  {% endfor %}
</div> -->

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

