---
layout: default
title: About Me
---

My name is Kristjan Greenewald; I am interested in problems in theoretical statistics, machine learning, and signal processing. 

I am a postdoctoral researcher in the
  <a href= "http://statistics.fas.harvard.edu/"> Department of Statistics
    at Harvard University </a>.  

<section>
<h1> Contact </h1>

<p> Email: kgreenewald "at" fas "dot" harvard "dot" edu

<ul style="list-style-type:none">
  <li> Mailing address:</li>
  <li> Harvard University</li>
  <li> Department of Statistics</li>
  <li> Science Center 400 Suite</li>
  <li> One Oxford Street</li>
  <li> Cambridge MA </li>
</ul>
</p>
</section>

<section>
  <h1> Research Interests </h1>
  I am broadly interested in online and reinforcement learning, primarily focusing on 
  time-varying models and algorithms for learning and exploiting structure in large-scale data.
  
  Recently I have begun working on developing and applying time-varying online reinforcement learning approaches to just-in-time adaptive interventions in mobile health. 

</section>

<section>
  <h1> Bio </h1>


  
  I am currently a postdoctoral researcher at the Department of Statistics at University of Michigan, starting in January 2017.
  I received my PhD in Electrical Engineering (Signal Processing) at the University of Michigan in January 2017, advised by Alfred Hero III and Shuheng Zhou. 
  My B.S. (magna cum laude) and M.S. degrees in Electrical Engineering were received from Wright State University in 2011 and 2012 respectively. 
  I have had research internships at the US Air Force Research Laboratory (2011, 2012, 2013, 2014) and at M.I.T. Lincoln Laboratory (2015). 
  

</section>



<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
  </div>
  {% endfor %}
</div> -->

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

